<%- include partials/header.ejs  %>


 <!--Navbar-->
<%- include partials/navbar.ejs  %>

  

  <!-- Main Content -->
  <main >
    <% if(messages.length > 0) {%>
      <div class="alert alert-danger">
          <%= messages %>
      </div>
  <% } %>

  <div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Site Survey</h1>
            <p> Welcome to our site survey. Please Login or Register
                to do the survey.
            </p>
        </div>
    </div>

    <div class="right">
        <h5>Login or register</h5>  
        <p>Create or login to your account</p> 
      <form method="POST" autocomplete="off" >
       <div class="input">
          <label for="username" [ngStyle]="{'visibility': user.username? 'visible':'hidden'}">Username:</label>
  
          <input type="text"
                    name="username" 
                    id="username" required autofocus>
        </fieldset>
  
        <fieldset >
          <label for="password" >Password:</label>
          <input type="password"
          name="password" 
          id="password" required>
            
        </div>
             <fieldset class="form-group text-right">
              <input type="submit" class="btn btn-success" value="Login">
              <a href="/register">
                  <input type="button" class="btn btn-warning" value="Register">
              </a>
          </fieldset>
      </form>
  
    
  
    </div>
  </main>

 <!--footer Section-->
 <%- include partials/footer.ejs  %>

  <!--Script Section-->

<%- include partials/scripts.ejs  %>







