<%- include ../partials/surveyheader.ejs %>

<%- include ../partials/navbar.ejs %>

<!-- Content for the Add page -->

<div class="container">
    <div class="wrapper">
       <div class="offset -md-3 col-md-6">
        <h1><%= title %></h1>
        <div><h6>survey information</h6></div>
        <div><label for="start">Start date:</label>

            <input type="date" id="start" name="trip-start"
            value="YYYY-MM-DD"
            min="2022-01-01" max="2025-12-31"></div>


        <div><label for="end">End date:</label>

            <input type="date" id="end" name="trip-end"
            value="YYYY-MM-DD"
            min="2022-01-01" max="2025-12-31"></div>
        
       
     <br>

       </div>
    </div>


    <div class="wrapper">
      <form class="form" method="POST">
        <p>Enter valid information about yorself and fill out the survey</p>
            <div class="form-group">
                <label for="nameTextField"></label>
                <input type="text" class="form-control"
                id="nameTextField"
                placeholder="Enter Your Name"
                name="name" required>
            </div>

            <div  class="form-group">
                <label for="emailTextField"></label>
                <input type="email" class="form-control"
                id="emailTextField"
                placeholder="Enter Your email"
                name="email" 
                required>
            </div>

            <div class="form-group">
                <label for="ageTextField"></label>
                <input type="number" name = "age" min="10" max="99" class="form-control"
                id="ageTextField"
                placeholder="Enter Your Age"
                name="age" 
                required>
            </div>

            <div class="form-group">
                <label for="dropdown">
                    <p>Describe your role?</p>
                </label>
                <select class="form-control" id="dropdown" name="dropdown" required>
                    <option disabled> Select role </option>
                    <option value="student">Student</option>
                    <option value="full">Full-Time Job </option>
                    <option value="part">Part-Time Job</option>
                    <option value="other">Other</option>
                </select>

            </div>

            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                
            </div>

            <div class="survey">

                <p>Please select an option</p>
                <div class="choice">

                    <ul class="opt1">
                        <li>Multiple Choice</li>
                     </ul>
                  
                </div>

                
               
                 <div class="question1">
                       <h4>Question 1</h4>

                       <label for="firstoption"></label>
                       <input type="text" class="form-control"
                       id="optionfield"
                       placeholder="Your question"
                       name="" required>

                       <label for="secondoption"></label>
                       <input type="text" class="form-control"
                       id="optionfield"
                       placeholder="Option 1"
                       name="" required> 

                        <label for="thirdoption"></label>
                        <input type="text" class="form-control"
                        id="optionfield"
                        placeholder="Option 2"
                        name="" required>

                        <label for="thirdoption"></label>
                        <input type="text" class="form-control"
                        id="optionfield"
                        placeholder="Option 3"
                        name="" required>

                        <ul class="option1">
                            <li>Next</li>

                 </div>   
               
                        
               
                   <div class="question2">
                       
                       <h2>Question 2</h2>

                       <label for="firstoption"></label>
                       <input type="text" class="form-control"
                       id="optionfield"
                       placeholder="Your question"
                       name="" required>

                       <label for="secondoption"></label>
                       <input type="text" class="form-control"
                       id="optionfield"
                       placeholder="Option 1"
                       name="" required>

                        <label for="thirdoption"></label>
                        <input type="text" class="form-control"
                        id="optionfield"
                        placeholder="Option 2"
                        name="" required>

                        <label for="thirdoption"></label>
                        <input type="text" class="form-control"
                        id="optionfield"
                        placeholder="Option 3"
                        name="" required>

                        <ul class="option1">
                       <ul class="option2">
                           <li>Next</li>
                         

                       </ul>
                   </div>  

                    <div class="question3">
                           <h2>Question 3</h2>

                           <label for="firstoption"></label>
                           <input type="text" class="form-control"
                           id="optionfield"
                           placeholder="Your question"
                           name="" required>
    
                           <label for="secondoption"></label>
                           <input type="text" class="form-control"
                           id="optionfield"
                           placeholder="Option 1"
                           name="" required>
    
                            <label for="thirdoption"></label>
                            <input type="text" class="form-control"
                            id="optionfield"
                            placeholder="Option 2"
                            name="" required>
    
                            <label for="thirdoption"></label>
                            <input type="text" class="form-control"
                            id="optionfield"
                            placeholder="Option 3"
                            name="" required>
                         <ul class="option1">
                           <ul class="option3">
                               <li>last </li>
                              
                           </ul>
                       </div>


                     <div class="choice2">
                        <ul class="opt2">
                            <li>Short Answers</li>
                        </ul>
                     </div>

                     <div class="ans">
                        <label for="yourquestion"></label>
                        <input type="text" class="form-control"
                        id="optionfield"
                        placeholder="Your question Here"
                        name="" required>
 
                        <label for="participant"></label>
                        <input type="text" class="form-control"
                        id="optionfield"
                        placeholder="Participant's answer"
                        name="" required> 
                     </div>


    

                </div>

               <div class="end">
                   <h2>Thank you</h2>
                   <a href="/home"><i class="fas fa-chevron-circle-right"></i> home</a>

               </div>
           </form>
           </div>

           

     </div>

                      <div class="wrapper">

                       <button class="btn btn-primary" type="submit">
                           <i class="fas fa-paper-plane"></i> Submit</button>
                       <br>
                           <a href="/survey-app" class="btn btn-warning">
                               <i class="fas fa-undo"></i> Cancel</a>
                       </div>
    </form>
            

</div>

      

<br>

  

<%- include ../partials/footer.ejs %>  

<%- include ../partials/surveyscripts.ejs %>