<%- include ../partials/loginheader.ejs  %>


 <!--Navbar-->
<%- include ../partials/navbar.ejs  %>


<!-- Login Component -->
<main class="container mb-5">
    <span class="text-center">
      <h1>Please Login</h1>
    </span>
    <% if(messages.length > 0) {%>
      <div class="alert alert-danger">
          <%= messages %>
      </div>
  <% } %>
    <div class="row">
  
      <form class="col col-lg-8 col-md-12 col-sm-12" method="POST" autocomplete="off" >
        <fieldset class="form-group">
  
          <label for="username" [ngStyle]="{'visibility': user.username? 'visible':'hidden'}">Username:</label>
  
          <input type="text" class="form-control"
                    name="username" 
                    id="username" required autofocus>
        </fieldset>
  
        <fieldset class="form-group">
          <label for="password" >Password:</label>
          <input type="password" class="form-control"
          name="password" 
          id="password" required>
             </fieldset>
  
             <fieldset class="form-group text-right">
              <input type="submit" class="btn btn-success" value="Login">
              <a href="/">
                  <input type="button" class="btn btn-warning" value="Cancel">
              </a>
          </fieldset>
      </form>
  
    
  
    </div>
  </main>
   <!--footer Section-->
 <%- include ../partials/footer.ejs  %>

 <!--Script Section-->

<%- include ../partials/scripts.ejs  %>